.aboutUsPage {
  width: 100%;
  padding: 4rem 1rem;
  max-width: 1300px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .aboutUsPage {
    padding: 3rem 1.5rem;
  }
}

@media (max-width: 768px) {
  .aboutUsPage {
    padding: 2rem 1rem;
  }
}

@media (max-width: 480px) {
  .aboutUsPage {
    padding: 1rem 0.5rem;
    margin-top: 10%;
  }
}
